extends layout

block content
  .main.container
    .row
      .col-md-8.offset-md-2
        h1.display-4.m-b-2 About Us
        p Upload a question file and take the test. Do you have what it takes to reach a perfect score? Remember what Yoda says. Do. Or Do Not. There is no try.

        a.btn.btn-info-outline.btn-lg.m-t-1(href='/register') Get Started NOW
