extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Take Tests &amp; Track Scores
    p.lead Take a sample test or upload your own!
    a.btn.btn-info-outline.btn-lg(href='/register') Get Started NOW


