doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  meta(name='google', content='notranslate')
  meta(http-equiv='Content-Language', content='en')
  title Bookworm | #{title}
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  link(rel='stylesheet', href='/stylesheets/style.css')

  body
    // load navbar.jade
    include navbar

    // content block
    block content

    // footer
    p.foot.text-xs-center Developed by Scott Bline

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', integrity='sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7', crossorigin='anonymous')
    script(src='/js/source.js')

    
