extends layout

block content
  .main.container.clearfix
    .row
      .col-md-8.offset-md-2
        h1.display-4
          img.avatar.img-circle.d-xs-none(src='/images/stormtrooper.png', alt='avatar')
          | #{name}